.main {
  margin-top: 0px !important;
}

.nav-links {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.header-logo a img {
  margin-top: 0 !important;
  width: 122px !important;
  height: 56px !important;
}

.dropdown-toggle {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.global-header {
  padding-top: 1rem;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1rem !important;
  overflow-y: hidden;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0px;
  background-color: #fff;
  border-radius: 8px;
  white-space: nowrap;
  transition: opacity .1s ease-in-out;
  box-shadow: 0px 4px 4px 4px #D9D9D91A !important;
}




.closed-menu {
  display: none;
  opacity: 0;
}

.opened-menu {
  opacity: 1 !important;
  display: block !important;
}


.mobile-menu {
  top: 40px;
}

.mobile-nav-item {
  position: relative;
}


.mobile-menu .sign-in-btn,
.mobile-menu .register-btn {
  color: #000 !important;
}

.global-header .nav-links .secondary a.register-btn {
  padding: .5rem 3rem !important;
  line-height: 30px !important;
  font-weight: 700 !important;
}

.global-header .nav-links .secondary .sign-in-btn {
  padding: .5rem 3rem !important;
  line-height: 30px !important;
  font-weight: 700 !important;

}

.mobile-menu .dropdown-menu {
  position: initial !important;
}

.mobile-menu .dropdown-menu a {
  border-bottom: none !important;
}

.mobile-menu .dropdown-menu a::after {
  content: initial !important;
}

.mobile-menu .r4c-header-arrow-icon {
  display: none;
}

.mobile-menu .dropdown-toggle {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mobile-menu .dropdown-menu a {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* .mobile-nav-item:hover .dropdown-menu,
.dropdown-toggle:hover + .dropdown-menu {
  display: block;
  transition: 1s all ease-in;
} */

/* .dropdown-toggle:hover .r4c-header-arrow-icon {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}  */
.mobile-nav-item.opened-menu .dropdown-menu .r4c-header-arrow-icon {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}


.catalogue-text {
  color: black;
}

.dropdown-toggle .r4c-header-arrow-icon {
  transition: transform 0.5s ease;
}

.nav-links a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover {
  color: black !important;
}

.mobile-nav-link a:hover {
  background-color: initial !important
}

.dropdown-list-item a {
  font-weight: 400 !important;
  font-family: 'Urbanist', sans-serif !important;
  padding: 0px 10px !important;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.dropdown-list-item:hover {
  background-color: #EAF3E7;
}

.dropdown-list-item:hover a {
  color: #079845 !important;
}

.dropdown-list-item:hover a:hover {
  color: #079845 !important;
}

.mobile-menu .dropdown-menu-list {
  padding: 0px !important;
}

.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item:hover {
  background-color: initial !important;
  color: #079845 !important;
}

.r4c-logged_user-dropdown-menu .nav-links {
  color: #079845 !important;
}

.r4c-logged_user-dropdown {
  display: flex !important;
  align-items: center;
}

.r4c-logged_user-dropdown-menu {
  border: none !important;
  box-shadow: 0px 4px 4px 4px #D9D9D91A !important;
  border-radius: 10px;
  min-width: 18rem;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.r4c-logged_user-dropdown-menu a {
  color: #1a1a1a;
  font-family: 'Urbanist', sans-serif !important;
}

.r4c-logged_user-dropdown-menu a:hover {
  color: #079845 !important;
  background-color: #EAF3E7;
}

.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item:not(:last-child) {
  border-bottom: initial !important;
}

.dropdown-menu {
  border: none !important;
}

.mobile-menu .dropdown-menu {
  width: 100%;
  padding: 10px;
}

.mobile-menu .mobile-nav-link a:hover,
.mobile-menu .mobile-nav-link a:focus {
  color: #000 !important;
}

.mobile-menu .mobile-nav-link a:focus {
  background-color: initial !important;
}

.mobile-menu .mobile-nav-link a::after {
  content: none;
}

.mobile-menu .mobile-nav-link a.r4c-dropdown-icon-menu::after {
  content: '\00BB' !important;
  padding-left: 4px;
}

.mobile-menu .mobile-nav-link a {
  padding: 0px !important;
}

.mobile-menu .mobile-nav-link a {
  padding: 10px !important;
}

.mobile-menu .dropdown-menu {
  padding: 0px;
}

.mobile-menu .dropdown-menu-list a {
  padding: 0px !important;
}

.main-header {
  background-color: #fff;
  padding-bottom: 10px;
}

.global-header .nav-links .secondary .dropdown-user-menu {
  top: 80px !important;
}

.global-header .nav-links .secondary {
  margin: 0 !important;
}

.global-header .mobile-menu .mobile-nav-item .dropdown-toggle {
  line-height: 1rem !important;
}

@media screen and (max-width:992px) {
  .global-header {
    padding-top: 0rem;
  }

  .main-header {
    height: auto !important;
  }

  .global-header .header-logo a {
    margin-top: 12px;
    margin-bottom: 15px;
  }

  .global-header .hamburger-menu {
    bottom: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

}


@media screen and (min-width:992px) {
  .dropdown-toggle::after {
    display: none !important;
  }

}



@media screen and (max-width:992px) {
  .global-header .nav-links .secondary {
    display: none;
  }

}

@media screen and (max-width:992px) {
  .global-header .main-header {
    padding-bottom: 12px !important;
  }

}


@media screen and (min-width:992px) {
  .main-header .nav-links .secondary {
    position: relative !important;
  }

  .main-header .nav-links .secondary .r4c-logged_user-dropdown {
    position: relative;
  }

  .main-header .nav-links .secondary .r4c-logged_user-dropdown-menu {
    position: absolute;
    top: 80px !important;
    right: 22px !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.375rem;
  }
}

.mobile-menu .mobile-nav-link a {
  line-height: 1rem !important;
}
.r4c-logged_user-dropdown-menu a{
  line-height: initial !important;
}